@import "tailwindcss";
@import "tw-animate-css";
@import "uploadthing/tw/v4";
@source "../node_modules/@uploadthing/react/dist";

@layer base {
  :root {
    --color-brand: #98C93B;
    --color-surface: #A0C878;
    --color-accent: #257C37;
    --color-bg: #424040;
    --color-text-primary: #BDE275;
  }
}

@theme {
  --color-brand: var(--color-brand);
  --color-surface: var(--color-surface);
  --color-accent: var(--color-accent);
  --color-bg: var(--color-bg);
  --color-text-primary: var(--color-text-primary);
}
